<div>
    <div class="modal-body">

        <div style="font-size: 28pt; margin: 10px 0 20px 0;">
            I Want to Eat Your Pancreas
        </div>
    
        <div class="d-flex justify-content-center wide">

            <div>
                <img src="https://rimg.bookwalker.jp/2977113/OWWPXNVne2Og5o9nA6tp3Q__.jpg" class="wide" style="object-fit:fill; border: 1px solid rgb(204, 204, 204); min-width: 350px; max-width: 350px; min-height: 500px; max-height: 500px;">
                <div class="wide" style="text-align: center; margin: 10px 0 10px 0;">
                    10 in stock
                </div>
            </div>

            <div style="margin: 10px;">
                <p style="">
                    Hotheaded Kozuka Mitsuomi left his home in the country for a sophisticated life in Tokyo. Unfortunately, at age 25, he's fired from his job and returns home in disgrace. As he tries to rediscover himself, he meets Kumai Yamato, a man about his age who was adopted into his community while Mitsuomi was away. The sweet and even-tempered Yamato is hiding his own pain, and as the two men connect, they start a journey together.
                </p>
            </div>

        </div>

        <div class="d-flex justify-content-end wide">

            <div class="d-flex flex-column justify-content-center align-items-end">
    
                <div>
    
                    <div style="color: #ff7d00; font-size: 18pt; margin-right: 5px;">
                        $8.30
                    </div>
    
                </div>
    
                <div>
                    <button type="button" class="btn btn-light btn-lg mx-1 my-1" style="background-color: #ff7d00; color: #ffffff; width: 150px;">Buy</button>
                </div>
    
            </div>

        </div>

    </div>

</div>