/* You can add global styles to this file, and also import other style files */


html {
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    height: 100% !important;
}

body {
    height: 100% !important;
    font-family: Poppins, HelveticaNeue, Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

div, label {
    margin: 0;
    padding: 0;
}



.wide {
    width: 100%;
}

.tall {
    height: 100%;
}