

<div class="d-flex flex-column justify-content-center align-content-center wide tall" style="background-color: #264653;">

    <!-- FORM -->
    <div style="">

        <!-- LOGIN FORM -->
        <div class="container" style="width: 500px; background-color: #FFFFFF; padding: 40px 15px 40px 15px; display:none;">

            <div class="d-flex justify-content-center" style="margin: 0 0 40px 0;">
                <h1>
                    Login Seller Panel
                </h1>
            </div>
            
            <div style="margin: 0 15px 20px 15px">

                <form class="wide">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">Input your email</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" aria-describedby="passHelp">
                      <div id="passHelp" class="form-text">Input your password</div>
                    </div>
                </form>

            </div>

            <div class="d-flex justify-content-center">

                <div class="d-flex flex-column justify-content-center align-items-center">
                    <button type="button" class="btn btn-primary btn-lg mx-1 my-1" style="min-width: 200px; background-color: #2A9D8F;">Sign In</button>
                    <button type="button" class="btn btn-light btn-lg mx-1 my-1" style="min-width: 200px;">Register</button>
                  </div>

            </div>

            <div class="d-flex justify-content-center">
                Forget your password ?
            </div>
            
        </div>

        <!-- REGISTER FORM -->
        <div class="container" style="width: 500px; background-color: #FFFFFF; padding: 40px 15px 40px 15px;">

            <div class="d-flex justify-content-center" style="margin: 0 0 40px 0;">
                <h1>
                    Register Seller Panel
                </h1>
            </div>
            
            <div style="margin: 0 15px 20px 15px">

                <form class="wide">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Original Name</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">Input your actual name</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Author Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">What you want to be called for your books</div>
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">Input your email</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" aria-describedby="passHelp">
                      <div id="passHelp" class="form-text">Input your password</div>
                    </div>
                </form>

            </div>

            <div class="d-flex justify-content-center">

                <div class="d-flex flex-column justify-content-center align-items-center">
                    <button type="button" class="btn btn-primary btn-lg mx-1 my-1" style="min-width: 200px; background-color: #2A9D8F;">Confirm Registration</button>
                </div>

            </div>
            
        </div>

    </div>

</div>