

<div>

    <div>

        <!-- IMG -->
        <div>

        </div>

        <!-- FORM -->
        <div>

            <!-- LOGIN FORM -->
            <div>

                <div>

                </div>
                
                <div>

                </div>

                <div>

                </div>

                <div>
                    
                </div>
                
            </div>

            <!-- REGISTER FORM -->
            <div style="display: none;">
                
            </div>

        </div>

    </div>

</div>